<script type="text/javascript">
    var timer;

    $('body').on("DOMSubtreeModified", function() {
        // Rerender Latex
        MathJax.Hub.Queue(["Typeset", MathJax.Hub, this]);

        // Possibly rerender Tikz Latex
        var scripts = document.getElementsByTagName('script');
        var tikzScripts = Array.prototype.slice.call(scripts).filter(
            (e) => (e.getAttribute('type') === 'text/tikz'));
        
        if (tikzScripts.length > 0) {
            clearTimeout(timer);
            timer = setTimeout(doExecuteTikz, 1000);
        }
    });

    async function doExecuteTikz() {
        await window.onload();
    }
</script>
